html,body{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style:normal;
	font-variant:normal;
	margin: 0;
	padding: 0; /*Some browsers add default space to edges. We remove this space.*/
}

.navbar{
	display:flex;
	align-items:center;
	background-color: #deedfb;
	padding: 0 10%;
	line-height:3rem;
}

.navbar ul{
	list-style-type: none; /*Removes the bullets */
}

.brand{
	color: #457e7d;
	font-size: 20px;
	/*flex:2;*/
	margin-right:auto; /*Takes remaining spaces on the right side.*/
	margin-bottom: auto;
}

.brand span{
	color: #d26f1d;
}

.topnav{
	display:flex; /*Display list items in the same row. Default direction is row. */
	margin: 0;
}

.topnav li {
	float: right; /*Display list items in the same row. Horizontally. */
}

.topnav li a{
	text-decoration: none; /*Remove underline of text*/
	padding: 0 15px;
	color: #3d556b;
}

.menu-item:hover, .menu-item:focus {
  text-shadow: 0px -1px #3d556b;
  box-shadow: 0 0 1px 1px rgba(0, 140, 186, 0.5);
}

.drop-down-link{
	display:none;
}

.slide-section{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin: 0;
	padding: 5% 0;
}

.slide-section h2{
	padding-bottom: 2rem;
}

img.slide{
	display:none;
    border-radius: 7px;
	max-width: 850px;
	max-height: 417px;
}

.stroke-section{
	background-color: #e7f1f4;
	padding: 3rem 15%;
	display: flex;
	flex-direction: column;
}

.stroke-section img{
	width: 250px;
}

.stroke-type{
	display: flex;
	align-items:center;
	justify-content:space-between;
	padding: 2rem 0;
}

.stroke-img-left, .stroke-img-right{
	flex:1; /*Each flex child has flex 1. Evenly distributed.*/
	display:flex;
	justify-content: center;
}
.stroke-img-right{order:2;}
.stroke-text-left{order:1}

.stroke-text-left, .stroke-text-right{
	flex:1; /*Each flex child has flex 1. Evenly distributed.*/
}

.stroke-text p{
	color: #646B90; /*Blurish color*/
}

.footer-container{
	background-color: #a5c4ce;
	margin:0;
	display:flex;
	align-items:center;
	justify-content:center;
	padding: 0 10%;
	line-height:2rem;
}

.icons{
	margin: 0 10px;
}


@media(max-width:768px){
	.navbar, .footer-container{
		padding: 0 1%;
	}
	
	ul.topnav li.menu-item{
		display: none;
	}
	
	ul.topnav li.drop-down-link{
		display: inline;
		relative: absolute;
	}
	
	ul.topnav.responsive{
		flex-direction: column;
		text-align: right;
	}
	
	ul.topnav.responsive li.menu-item{
		display: block;
		order:2; /*Used to keep trigram at top.*/
	}
	
	.slide-section{
		padding: 0 1%;
	}

	img.slide{
		width: 100%;
	}
	
	.stroke-section{
		padding: 2rem 1%;
	}
	
	.stroke-type{
		display: block;
	}
	
	.stroke-img-right{order:2;}
	.stroke-text-left{order:1}
	
}
